{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li><a href="{% url 'accounts:user_edit' user_obj.pk %}">Edit</a></li>
        <li><a href="{% url 'accounts:user_edit_pass' user_obj.pk %}">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Profile: {{ user_obj.username }} </h1>
    {% if user_obj.profile.avatar %}
        <img src="{{ user_obj.profile.avatar.url }}" alt="user_pic" class="avatar">
    {% else %}
        <img src="{% static 'img/images.png' %}" alt="user_pic" class="avatar">
    {% endif %}
    <p>login: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Email: {{ user_obj.email }}</p>

{#    <div>#}
{#        <h3>Reviews:</h3>#}
{#            {% for prod in git %}#}
{#                    <p> {{ prod.text }}</p>#}
{#                    <p> Author: <a href="{% url 'accounts:user_detail' prod.author.pk %}">{{ prod.author }}</a></p>#}
{#                    <p> Email: {{ prod.author.email }}</p>#}
{#                    <p>Rating: {{ prod.rating}}</p>#}
{#                    <p><a href="{% url 'webapp:review_update' prod.pk %}">Edit</a></p>#}
{#                    <p><a href="{% url 'webapp:review_delete' prod.pk %}">Delete</a></p>#}
{#                    <hr>#}
{#            {% empty %}#}
{#                <p>No reviews yet.</p>#}
{#            {% endfor %}#}
{#    </div>#}
{% endblock %}
